In [27]:
import psycopg2
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt

In [28]:
def connect_database():
    try:
        conn = psycopg2.connect(
            host = 'localhost',
            dbname = 'stock_data',
            user = 'bibek',
            password = 'bibek')
        cur = conn.cursor()
        conn.autocommit = True
        print("Database Connected Successfully")
        return conn,cur
    except Exception as e:
        print(f"Cannot Connect to database: {e}")

In [29]:
conn, cur = connect_database()

Database Connected Successfully

In [30]:
cur.execute('Select * from nabil_bank')
data = cur.fetchall()
df = pd.DataFrame(data)
df

               0       1       2       3      4      5
0     2010-04-26  1785.0  1750.0  1760.0    920  -1.46
1     2010-04-27  1730.0  1695.0  1696.0   1418  -3.64
2     2010-04-28  1729.0  1665.0  1671.0    293  -1.47
3     2010-04-29  1838.0  1704.0  1838.0    622   9.99
4     2010-05-09  1840.0  1840.0  1840.0     60   0.11
...          ...     ...     ...     ...    ...    ...
3055  2023-10-30   580.0   572.0   580.0  39951  -0.17
3056  2023-10-31   585.0   575.0   578.0  25726  -0.34
3057  2023-11-01   580.0   575.0   577.6  18731  -0.07
3058  2023-11-02   582.0   572.0   572.9  36808  -0.81
3059  2023-11-05   573.0   564.0   566.0  50715   -1.2

[3060 rows x 6 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3060 non-null   object
 1   1       3060 non-null   object
 2   2       3060 non-null   object
 3   3       3060 non-null   object
 4   4       3060 non-null   int64
 5   5       3060 non-null   object
dtypes: int64(1), object(5)
memory usage: 143.6+ KB

In [ ]:
def transform_data(df,column_names):
    df.columns = column_names
    df['Date'] = pd.to_datetime(df.Date)
    df['High'] = df['high'].astype(float)
    df['Low'] = df['Low'].astype(float)
    df['Close'] = df['Close'].astype(float)
    df['Volume'] = df['Volume'].astype(int)
    df['Change(%)'] = df['Change(%)'].astype(float)

In [5]:
column_names = ['Date','High','Low','Close','Volume','Change(%)']

In [9]:
df.columns = column_names
df['Date'] = pd.to_datetime(df.Date)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3060 non-null   datetime64[ns]
 1   High       3060 non-null   object
 2   Low        3060 non-null   object
 3   Close      3060 non-null   object
 4   Volume     3060 non-null   int64
 5   Change(%)  3060 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 143.6+ KB

In [14]:
df.shape

(3060, 6)

In [21]:
df.isnull().sum()

Date         0
High         0
Low          0
Close        0
Volume       0
Change(%)    0
dtype: int64

In [22]:
df.isna().any()

Date         False
High         False
Low          False
Close        False
Volume       False
Change(%)    False
dtype: bool

In [24]:
df.describe()

                                Date         Volume
count                           3060    3060.000000
mean   2017-02-06 16:11:45.882352896   25070.958170
min              2010-04-26 00:00:00      20.000000
25%              2013-09-14 06:00:00    1783.500000
50%              2017-02-12 12:00:00    5385.000000
75%              2020-08-10 06:00:00   28422.000000
max              2023-11-05 00:00:00  705430.000000
std                              NaN   47485.234401